* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

.avatar {
    height: 224px;
    width: 224px;
    border-radius: 120px;
}


.logo {
    width: 70px;
    height: 50px;

}